#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 94vh;
  margin: 0 auto;
}

#home h2 {
  font-size: 100px;
}

#home a {
  margin-top: 30px;
}